html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#nav-bar {
	margin: 0;
	padding: 0;
}

#nav {
	position: fixed;
	width: 100%;
	list-style-type: none;
	overflow: hidden;
	margin: 0;
	padding: 0;
	background-color: #333;
	text-align: center;
	z-index: 3;
}

.nav-item {
	float: left;
	width: 25%;
}

.nav-item a {
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px;
	text-decoration: none;
}

.nav-item a:hover {
	background-color: #59b300;
}

.active {
	background-color: #66cc00;
}

.content {
	padding: 16px;
	padding-top: 60px;
	margin-bottom: 5px;
	background-color: #b3b3b3;
	color: white;
}

.content-header {
	position: relative;
	display: block;
	padding-left: 16px;
	font-size: 24px;
}

span {
	display: block;
}

#about {
	position: relative;
	height: 700px;
}

#profile-picture {
	position: relative;
	left: 25px;
	top: 25px;
	width: 250px;
	height: 250px;
	border-radius: 50%;
	z-index: 0;
}

#websites {
	position: relative;
	left: 16px;
	top: 25px;
	width: 115px;
}

.icon {
	width: 50px;
	height: 50px;
}

#background-info {
	position: relative;
	top: -350px;
	left: 350px;
	width: 50%;
	overflow-wrap: break-word;
	word-wrap: break-word;
	margin-bottom: 25px;
}

#hobbies {
	order: 1;
	flex-grow: 1;
}

#hobbies ul {
	list-style-type: circle;
}

#hobbies li {
	padding: 5px;
}

#languages {
	order: 0;
	flex-grow: 1;
	margin-right: 50px;
	margin-bottom: 25px;
}

#languages ul {
	list-style-type: circle;
	columns: 2;
}

#languages li {
	padding: 5px;
}

.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: relative;
	width: 45%;
	margin: 0;
	padding: 0;
	top: -350px;
	left: 350px;
}

#projects {
	position: relative;
	height: 100%;
}


#education {
	height: auto;
}

.school {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: relative;
	text-align: center;
	margin-bottom: 60px;
}

#ucsd {
	order: 0;
	flex-grow: 1;
	width: 50%;
}

#sbcc {
	order: 1;
	flex-grow: 1;
	width: 50%;
}

.school-img {
	width: 200px;
	height: 200px;
}

#panel1 {
	display: none;
	background-color: #00004d;
	height: 150px;
}

#panel1 h2 {
	position: relative;
	padding-top: 16px;
	color: #cca300;
}

#panel2 {
	display: none;
	background-color: #b30000;
	height: 350px;
}

#panel2 h2 {
	position: relative;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0%);
	padding-top: 16px;
	color: black;
	width: 275px;
	text-align: center;
}

.degrees {
	position: relative;
	left: 10%;
	text-align: left;
	width: 75px;
}

.degree {
	position: relative;
	left: 15%;
	top: -12px;
	text-align: left;
	width: 310px;
	margin: 0 0 12px 0;
}

.honorable-mentions {
	position: relative;
	left: 10%;
	text-align: left;
	width: 160px;
}

.mention {
	position: relative;
	left: 15%;
	top: -12px;
	text-align: left;
	width: 250px;
	margin: 0 0 12px 0;
}

#contact {
	position: relative;
	height: 535px;
}


@media only screen and (max-width: 715px) {
	#nav {
		position: relative;
	}

	.nav-item {
		width: 100%;
	}

	#about {
		height: auto;
	}

	#about h1 {
		width: 100%;
		text-align: center;
		margin: 0;
	}

	#profile-picture {
		left: 50%;
		transform: translate(-50%, 0%);
	}

	#websites {
		position: relative;
		top: 25px;
		left: 0;
		width: 100%;
		text-align: center;
		margin-bottom: 50px;
	}

	#background-info {
		position: relative;
		top: 0;
		left: 0;
		padding-left: 25px;
		margin-right: 0;
		width: 90%;
	}

	.flex-container {
		position: relative;
		display: flex;
		width: 90%;
		top: 0;
		left: 10%;
	}

	#languages {
		margin-bottom: 0;
		margin-right: 10px;
		flex-grow: 1;
		order: 0;
	}

	#hobbies {
		order: 1;
		flex-grow: 1;
	}

	#education {
		height: auto;
	}

	.school {
		flex-direction: column;

	}

	#ucsd {
		width: 100%;
		margin-bottom: 50px;
	}

	#sbcc {
		width: 100%;
	}
}