html, body {
	margin: 0;
	padding: 0;
	min-height: 100%;
	height: auto;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#nav-bar {
	margin: 0;
	padding: 0;
}

#nav {
	position: fixed;
	width: 100%;
	list-style-type: none;
	overflow: hidden;
	margin: 0;
	padding: 0;
	background-color: #333;
	text-align: center;
	z-index: 3;
}

.nav-item {
	float: left;
	width: 25%;
}

.nav-item a {
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px;
	text-decoration: none;
}

.nav-item a:hover {
	background-color: #59b300;
}

.active {
	background-color: #66cc00;
}

.content {
	padding: 16px;
	padding-top: 60px;
	margin-bottom: 5px;
	background-color: #b3b3b3;
	color: white;
}

.content-header {
	position: relative;
	display: block;
	padding-left: 16px;
	font-size: 24px;
}

span {
	display: block;
}

#about {
	position: relative;
	height: 700px;
}

#profile-picture {
	position: relative;
	left: 25px;
	top: 25px;
	width: 250px;
	height: 250px;
	border-radius: 50%;
	z-index: 0;
}

#websites {
	position: relative;
	left: 16px;
	top: 25px;
	width: 115px;
}

.icon {
	width: 50px;
	height: 50px;
}

#background-info {
	position: relative;
	top: -350px;
	left: 350px;
	width: 50%;
	overflow-wrap: break-word;
	word-wrap: break-word;
	margin-bottom: 25px;
}

#hobbies {
	order: 1;
}

#hobbies ul {
	list-style-type: circle;
}

#hobbies li {
	padding: 5px;
}

#languages {
	order: 0;
	margin-right: 50px;
	margin-bottom: 25px;
}

#languages ul {
	list-style-type: circle;
}

#languages li {
	padding: 5px;
}

.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: relative;
	width: 45%;
	margin: 0;
	padding: 0;
	top: -350px;
	left: 350px;
}

#projects {
	position: relative;
}


#education {
	position: relative;
	height: 1000px;
}

.school {
	position: relative;
	padding-left: 32px;
	height: auto;
}

.school-name {

}

.degree{
	position: relative;
	padding-left: 25px;
	top: -200px;
}

.honorable-mentions {
	position: relative;
	padding-left: 32px;
	top: -200px;
}

.school-img {
	width: 200px;
	height: 200px;
	position: relative;
	top: 0;
	left: 60%;
}

.degrees {
	position: relative;
	left: 50px;
	top: -220px;
	width: 350px;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

#contact {
	position: relative;
}


@media only screen and (max-width: 715px) {
	#nav {
		position: relative;
	}

	.nav-item {
		width: 100%;
	}

	#about {
		height: auto;
	}

	#about h1 {
		width: 100%;
		text-align: center;
		margin: 0;
	}

	#profile-picture {
		left: 50%;
		transform: translate(-50%, 0%);
	}

	#websites {
		position: relative;
		top: 25px;
		left: 0;
		width: 100%;
		text-align: center;
		margin-bottom: 50px;
	}

	#background-info {
		position: relative;
		top: 0;
		left: 0;
		padding-left: 25px;
		margin-right: 0;
		width: 90%;
	}

	.flex-container {
		display: block;
		position: relative;
		width: 100%;
		left: 50%;
		top: 0;
		transform: translate(-50%, 0%);
	}

	#languages {
		width: 100%;
		margin-bottom: 0;
		margin-right: 10px;
	}

	#hobbies {
		width: 100%;
	}

	#education {
		height: auto;
	}
}